# [DEPRECATED] moved to caddy
limit_req_zone $binary_remote_addr zone=http:10m rate=100r/s;

server {
  listen 80;
  listen [::]:80;
  limit_req zone=http burst=100;
  server_name {{ hostname }};

  return 301 https://$host$request_uri;
}

server {
  listen 443 ssl;
  listen [::]:443 ssl ipv6only=on;
  limit_req zone=http burst=100;
  server_name {{ hostname }};

  ssl_certificate /etc/letsencrypt/live/{{ hostname }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ hostname }}/privkey.pem;

  location / {
    proxy_pass https://aeolyus.github.io;
  }
}

server {
  listen 8080;
  listen [::]:8080;

  location /stub_status {
    stub_status;
  }
}
