worker_processes auto;

events {
  worker_connections 10000;
}

stream {
  upstream k3s_masters_http {
    least_conn;
    {% for k3s_master_ip in k3s_master_ips %}
    server {{ k3s_master_ip }}:80 max_fails=3 fail_timeout=5s;
    {% endfor %}
  }

  upstream k3s_masters_https {
    least_conn;
    {% for k3s_master_ip in k3s_master_ips %}
    server {{ k3s_master_ip }}:443 max_fails=3 fail_timeout=5s;
    {% endfor %}
  }

  upstream k3s_masters {
    least_conn;
    {% for k3s_master_ip in k3s_master_ips %}
    server {{ k3s_master_ip }}:6443 max_fails=3 fail_timeout=5s;
    {% endfor %}
  }

  server {
    listen 80;
    proxy_pass k3s_masters_http;
  }

  server {
    listen 443;
    proxy_pass k3s_masters_https;
  }

  server {
    listen 6443;
    proxy_pass k3s_masters;
  }
}
