worker_processes auto;

events {
  worker_connections 100000;
}

stream {
  upstream k3s_nodes {
    least_conn;
    {% for k3s_master_ip in k3s_master_ips %}
    server {{ k3s_master_ip }}:6443 max_fails=3 fail_timeout=5s;
    {% endfor %}
  }

  server {
    listen 6443;
    proxy_pass k3s_node:$server_ports;
  }
}
